# Python Assignment - 3

# Question 1_Part_2   - NYC VEHICLE COLLISION ANALYSIS

In [14]:
# Importing the Packages 
import csv
import pandas as pd
from pandas import DataFrame

In [15]:
# To read the CSV file and to find the keys from the CSV file 
datafile = pd.read_csv('Data/vehicle_collisions.csv')
print(datafile.keys())

Index(['UNIQUE KEY', 'DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'PERSONS INJURED', 'PERSONS KILLED',
       'PEDESTRIANS INJURED', 'PEDESTRIANS KILLED', 'CYCLISTS INJURED',
       'CYCLISTS KILLED', 'MOTORISTS INJURED', 'MOTORISTS KILLED',
       'VEHICLE 1 TYPE', 'VEHICLE 2 TYPE', 'VEHICLE 3 TYPE', 'VEHICLE 4 TYPE',
       'VEHICLE 5 TYPE', 'VEHICLE 1 FACTOR', 'VEHICLE 2 FACTOR',
       'VEHICLE 3 FACTOR', 'VEHICLE 4 FACTOR', 'VEHICLE 5 FACTOR'],
      dtype='object')

In [17]:
#Extracting the month and year from the column DATE and stored it in a seperate column of 'datafile' 
#'MONTH' and 'YEAR' respectively

datafile['YEAR'] = pd.DatetimeIndex(datafile['DATE']).year
datafile['MONTH'] = pd.DatetimeIndex(datafile['DATE']).month

In [18]:
# Extracting the data occured in 2015 and later then stored in "datafile_year"

datafile_year = datafile.loc[datafile['YEAR'] >= 2015]

In [19]:
# For Column 'VEHICLE 1 TYPE'
# Convert the data to string 1 and replacing the NaN as 0 and then changing the datatype as interger 
datafile_year['VEHICLE 1 TYPE'] = datafile_year['VEHICLE 1 TYPE'].str.replace('.*', '1')
datafile_year['VEHICLE 1 TYPE'] = datafile_year['VEHICLE 1 TYPE'].fillna(0)
datafile_year['VEHICLE 1 TYPE'] = datafile_year['VEHICLE 1 TYPE'].astype(int)
print(datafile_year['VEHICLE 1 TYPE'].count())

477732

In [20]:
# For Column 'VEHICLE 2 TYPE'
# Convert the data to string 1 and replacing the NaN as 0 and then changing the datatype as interger 
datafile_year['VEHICLE 2 TYPE'] = datafile_year['VEHICLE 2 TYPE'].str.replace('.*', '1')
datafile_year['VEHICLE 2 TYPE'] = datafile_year['VEHICLE 2 TYPE'].fillna(0)
datafile_year['VEHICLE 2 TYPE'] = datafile_year['VEHICLE 2 TYPE'].astype(int)
print(datafile_year['VEHICLE 2 TYPE'].count())

477732

In [21]:
# For Column 'VEHICLE 3 TYPE'
# Convert the data to string 1 and replacing the NaN as 0 and then changing the datatype as interger 
datafile_year['VEHICLE 3 TYPE'] = datafile_year['VEHICLE 3 TYPE'].str.replace('.*', '1')
datafile_year['VEHICLE 3 TYPE'] = datafile_year['VEHICLE 3 TYPE'].fillna(0)
datafile_year['VEHICLE 3 TYPE'] = datafile_year['VEHICLE 3 TYPE'].astype(int)
print(datafile_year['VEHICLE 3 TYPE'].count())

477732

In [22]:
# For Column 'VEHICLE 4 TYPE'
# Convert the data to string 1 and replacing the NaN as 0 and then changing the datatype as interger 
datafile_year['VEHICLE 4 TYPE'] = datafile_year['VEHICLE 4 TYPE'].str.replace('.*', '1')
datafile_year['VEHICLE 4 TYPE'] = datafile_year['VEHICLE 4 TYPE'].fillna(0)
datafile_year['VEHICLE 4 TYPE'] = datafile_year['VEHICLE 4 TYPE'].astype(int)
print(datafile_year['VEHICLE 4 TYPE'].count())

477732

In [23]:
# For Column 'VEHICLE 5 TYPE'
# Convert the data to string 1 and replacing the NaN as 0 and then changing the datatype as interger 
datafile_year['VEHICLE 5 TYPE'] = datafile_year['VEHICLE 5 TYPE'].str.replace('.*', '1')
datafile_year['VEHICLE 5 TYPE'] = datafile_year['VEHICLE 5 TYPE'].fillna(0)
datafile_year['VEHICLE 5 TYPE'] = datafile_year['VEHICLE 5 TYPE'].astype(int)
print(datafile_year['VEHICLE 5 TYPE'].count())

477732

In [24]:
# Adding all the vehicle type to identify the overall collision scale and stored in column "COLLISION_INVOLVED_VEHICLE"
datafile_year['COLLISION_INVOLVED_VEHICLE'] = datafile_year['VEHICLE 1 TYPE'] + datafile_year['VEHICLE 2 TYPE'] + datafile_year['VEHICLE 3 TYPE'] + datafile_year['VEHICLE 4 TYPE'] + datafile_year['VEHICLE 5 TYPE']

In [25]:
# Grouped by the column "BOROUGH" and "COLLISION_INVOLVED_VEHICLE" 
datafile_grouped = datafile_year.groupby(['BOROUGH', 'COLLISION_INVOLVED_VEHICLE']).count().reset_index()

In [26]:
# Creating a pivot table and filled 0 in place of NaN
datafile_pivot = datafile_grouped.pivot(index='BOROUGH',columns='COLLISION_INVOLVED_VEHICLE', values='UNIQUE KEY').fillna(0)

In [27]:
# Changing the column name as per requirement
datafile_pivot.columns = ['ZERO','ONE_VEHICLE_INVOLVED','TWO_VEHICLE_INVOLVED','THREE_VEHICLE_INVOLVED','FOUR_VEHICLE_INVOLVED','FIVE_VEHICLE_INVOLVED']

In [28]:
# Reseting the index and stored it in "datafile_final_output"
datafile_final_output = datafile_pivot.reset_index()

In [29]:
# Adding the "FOUR_VEHICLE_INVOLVED" and "FIVE_VEHICLE_INVOLVED" to form "MORE_VEHICLE_INVOLVED"
datafile_final_output['MORE_VEHICLE_INVOLVED'] = datafile_final_output['FOUR_VEHICLE_INVOLVED'] + datafile_final_output['FIVE_VEHICLE_INVOLVED']

In [30]:
# After adding the last two data column into a new column "MORE_VEHICLE_INVOLVED" it can be deleted 
del datafile_final_output['FOUR_VEHICLE_INVOLVED']
del datafile_final_output['FIVE_VEHICLE_INVOLVED']
del datafile_final_output['ZERO']

In [31]:
# Final output is displayed here
datafile_final_output

,BOROUGH,ONE_VEHICLE_INVOLVED,TWO_VEHICLE_INVOLVED,THREE_VEHICLE_INVOLVED,MORE_VEHICLE_INVOLVED
0,BRONX,8627,34385,1962,625
1,BROOKLYN,17375,80207,4980,1612
2,MANHATTAN,13318,66958,2024,501
3,QUEENS,12962,70260,4498,1420
4,STATEN ISLAND,2343,10676,759,165

In [32]:
# Writing the output to a CSV file "Q1P2.csv"
import os
if not os.path.exists('Output/Q1/Part2'):
        os.makedirs('Output/Q1/Part2')
datafile_final_output.to_csv('Output/Q1/Part2/Q1P2.csv', index=False)